<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5p %m%n"/>
    </Console>
  </appenders>
  <loggers>
    <root level="none">
      <appender-ref ref="STDOUT"/>
    </root>
  </loggers>
</configuration>
